@use './variables' as *;

body{
  font-family: $primary-font;
  }

.swiper-pagination-bullet-active{
  background: $title-color !important;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet{
  margin: 0px 10px !important;
}

.swiper-slide-prev {
  opacity: .5 !important;
}

.swiper-slide-next {
  opacity: .3 !important;
}

.dropdown-toggle::after {
  font-family: FontAwesome;
  content: "\f078" !important;
  border-right: 0;
  border-bottom: 0;
  border-top: 0 !important;
  vertical-align: 0;
  margin-left: 0;
  font-size: .52em;
}